@model power_usage_monitor.Models.Device

@{
    ViewData["Title"] = "刪除設備";
}

<h1>刪除設備</h1>

<h3>你確定要刪除這個設備?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            設備名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            設備使用時間
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseTime)
        </dd>
@*        <dt class = "col-sm-2">
            分類
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.DeviceCategoryName)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DeviceId" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回到設備列表</a>
    </form>
</div>
